@import "../css/style.css";
/* home section style */

.home .text {
    text-align: center;
}
.home .text h2 {
    margin-bottom: 60px;
    color: #fff;
    font-weight: 600;
    line-height: 3rem;
}
.home .text p {
    color: #fff;
    font-size: var(--p-font);
    font-weight: 400;
}
.home .text p a {
    color: rgba(255, 255, 255, 0.90);
}

/* tours-section style */
/* search box */
.tours-section .tours-grid {
    display: grid;
    grid-template-columns: 408px auto;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    column-gap: 20px;
}
.tours-section .tours-grid .search-box {
    margin-bottom: 20px;
    background-color: var(--bg-color);
    outline: 2px solid var(--second-color);
    border-radius: 5px;
}
.tours-section .tours-grid .column-1 .search-box form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 30px 15px;
}
.tours-section .tours-grid .column-1 .search-box form .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 100%;
}
.tours-section .tours-grid .column-1 .search-box form .input-field label {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.tours-section .tours-grid .column-1 .search-box form .input-field input {
    width: 100%;
    height: 60px;
    padding: 0 30px 0 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}
.tours-section .tours-grid .column-1 .search-box form .input-field input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: block; */
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 40px;
    height: 40px;
    background: url(../img/calendar-solid-24.png) no-repeat center center / 20px;
}
.tours-section .tours-grid .column-1 .search-box form .input-field i {
    position: absolute;
    top: 60%;
    right: 1.8rem;
    color: var(--main-color);
    font-size: 20px;
}
.tours-section .tours-grid .column-1 .search-box form .search {
    width: 100%;
}
.tours-section .tours-grid .column-1 .search-box form .search button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 60px;
    width: 100%;
    background-color: var(--main-color);
    border: none;
    border-radius: 15px;
    color: var(--bg-color);
    font-size: var(--p-font);
    text-transform: capitalize;
    cursor: pointer;
}
/* tours boxes */
.tours-section .tours-grid .column-2 .tour-box {
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}
.tours-section .tours-grid .column-2 .tour-box:hover {
    outline: 2px solid var(--main-color);
}
.tours-section .tours-grid .column-2 .tour-box img {
    height: 250px;
    border-radius: 5px 5px 0 0;
}
.tours-section .tours-grid .column-2 .tour-box .box-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}
.tours-section .tours-grid .column-2 .tour-box .box-text h3 {
    font-weight: 500;
}
.tours-section .tours-grid .column-2 .tour-box .box-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    inline-size: 40rem;
    overflow-wrap: break-word;
}
.tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer .tour-info {
    display: flex;
    align-items: center;
    gap: 30px;
}
.tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer .tour-info div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
}
.tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer .tour-info div i {
    color: var(--main-color);
    font-size: 22px;
}
.tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    color: var(--bg-color);
    font-size: var(--p-font);
    transition: .3s;
    cursor: pointer;
}
.tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer button:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    outline: 2px solid var(--main-color);
}
.tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer button:focus {
    background-color: var(--second-color);
    color: var(--bg-color);
}
/* Pagination */
.tours-section .pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.tours-section .pages a {
    color: var(--main-color);
    font-size: 22px;
}
.tours-section .pages a:not(:last-of-type) {
    height: 40px;
    width: 40px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    transition: .3s;
}
.tours-section .pages a.active,
.tours-section .pages a:hover,
.tours-section .pages a:focus {
    background-color: var(--main-color);
    color: var(--bg-color);
}

/* contact page */
.contact-section .contact-info-form,
.contact-section .img-accordion {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 3rem;
}
.contact-section .contact-info-form .contact-info {
    width: 40%;
}
.contact-section .contact-info-form .contact-info > h2 {
    margin-bottom: 1rem;
    font-size: var(--h2-font);
    font-weight: 500;
}
.contact-section .contact-info-form .contact-info > p:first-of-type {
    color: var(--second-color);
    font-size: var(--p-font);
}
.contact-section .contact-info-form .contact-info hr {
    height: 5px;
    width: 100%;
    margin: 3rem 0;
    background-color: var(--main-color);
    border: none;
}
.contact-section .contact-info-form .contact-info .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 0 1rem 0;
    background-color: var(--main-color);
    border-radius: 5px;
    color: var(--bg-color);
    font-size: var(--p-font);
}
.contact-section .contact-info-form .contact-info .info .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #5842CE;
    border-radius: 50%;
}
.contact-section .contact-info-form .contact-info .info .circle i {
    font-size: 20px;
}
.contact-section .contact-info-form .contact-form {
    width: 60%;
    border: 2px solid var(--main-color);
    padding: 2rem 1rem;
    border-radius: 5px;
}
.contact-section .contact-info-form .contact-form > h3 {
    margin: 0 0 1rem 0;
    font-weight: 500;
}
.contact-section .contact-info-form .contact-form input,
.contact-section .contact-info-form .contact-form textarea,
.contact-section .contact-info-form .contact-form button {
    position: relative;
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    margin: 0 0 1rem 0;
    border: none;
    border-radius: 5px;
    color: var(--second-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}
.contact-section .contact-info-form .contact-form input::placeholder,
.contact-section .contact-info-form .contact-form textarea::placeholder {
    color: var(--second-color);
}
.contact-section .contact-info-form .contact-form input:focus,
.contact-section .contact-info-form .contact-form textarea:focus {
    outline: 2px solid var(--main-color);
}
.contact-section .contact-info-form .contact-form .field {
    position: relative;
}
.contact-section .contact-info-form .contact-form .field i {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 20px;
    color: var(--second-color);
    transition: .3s;
}
.contact-section .contact-info-form .contact-form input:focus ~ i,
.contact-section .contact-info-form .contact-form textarea:focus ~ i {
    color: var(--main-color);
}
.contact-section .contact-info-form .contact-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: var(--p-font);
}
/* contact img & accordion */
.contact-section .img-accordion .contact-img {
    width: 40%;
}
.contact-section .img-accordion .contact-img img {
    width: 90%;
}
.contact-section .img-accordion .contact-accordion {
    width: 60%;
}
.contact-section .img-accordion .contact-accordion .acc-item input[type="radio"] {
    display: none;
}
.contact-section .img-accordion .contact-accordion .acc-item label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    font-weight: 500;
}
.contact-section .img-accordion .contact-accordion .acc-item label::after {
    content: '';
    position: absolute;
    right: 1rem;
    border: 10px solid;
    border-color: var(--main-color) transparent transparent transparent;
}
.contact-section .img-accordion .contact-accordion .acc-item .acc-text {
    padding: 1rem;
    height: 0px;
    overflow: hidden;
    opacity: 0;
}
.contact-section .img-accordion .contact-accordion .acc-item input[type="radio"]:checked ~ .acc-text {
    padding: 1rem;
    height: 100%;
    opacity: 1;
}
.contact-section .img-accordion .contact-accordion .acc-item input[type="radio"]:checked ~ label::after {
    content: '';
    position: absolute;
    right: 1rem;
    border: 10px solid;
    border-color: transparent transparent var(--main-color) transparent;
}
@media (max-width: 1400px){
	header{
		padding: 17px 3%;
		transition: .2s;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .2s;
	}
	section{
		padding: 80px 3%;
		transition: .2s;
	}
	:root{
		--big-font: 4.5rem;
	  --h2-font: 2.3rem;
	  --p-font: 1rem;
	  transition: .2s;
	}
}

@media (max-width: 1040px){
	#menu-icon{
		display: block;
	}
	.stick #menu-icon{
		color: var(--text-color);
	}
	.home{
		height: 88vh;
	}
	.navbar{
		position: absolute;
		top: 0;
		right: -100%;
		width: 270px;
		height: 120vh;
		background: #1067cc;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 150px 30px;
		transition: 0.5s all;
	}
	.navbar a{
		display: block;
		margin: 1.2rem 0;
	}
	.sticky .navbar a{
		color: var(--bg-color);
	}
	.navbar a:hover{
		color: var(--text-color);
	}
	.open{
		right: 0;
	}
	.list{
		width: 50%;
		margin-bottom: 12px;
	}
}

@media (max-width: 575px){
	:root{
		--big-font: 3.8rem;
	    --h2-font: 1.8rem;
	}
    /* tours boxes */
    .tours-section .tours-grid {
        grid-template-columns: auto;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text {
        gap: 15px;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer {
        flex-direction: column;
        gap: 10px;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer .tour-info {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer .tour-info div {
        flex-direction: column;
        gap: 5px;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer button {
        width: 100%;
    }
    
    /* contact page */
    .contact-section .contact-info-form,
    .contact-section .img-accordion {
        display: flex;
        flex-direction: column;
        gap:  2rem;
        margin: 0rem;
    }
    .contact-section .contact-info-form .contact-info,
    .contact-section .contact-info-form .contact-form,
    .contact-section .img-accordion .contact-img,
    .contact-section .img-accordion .contact-img img,
    .contact-section .img-accordion .contact-accordion  {
        width: 100%;
    }
    .contact-section .contact-info-form .contact-info .info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        width: 100%;
        padding: 1rem;
    }
    .contact-section .img-accordion .contact-img img {
        margin-top: 2rem;
    }
    .contact-section .img-accordion .contact-accordion .acc-item label::after {
        display: none;
    }
}
/* TOURS boxes media query */
@media screen and (max-width: 768px) {
    :root{
	    --h2-font: 1.8rem;
	}
    /* tours boxes */
    .tours-section .tours-grid {
        grid-template-columns: auto;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text {
        gap: 15px;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer {
        flex-direction: column;
        gap: 10px;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer .tour-info {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer .tour-info div {
        flex-direction: column;
        gap: 5px;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer button {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer {
        flex-direction: column;
        gap: 10px;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer .tour-info {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer .tour-info div {
        flex-direction: column;
        gap: 5px;
    }
    .tours-section .tours-grid .column-2 .tour-box .box-text .tour-box-footer button {
        width: 100%;
    }
}